@import '../node_modules/react-circular-progressbar/dist/styles.css';

$turquoise: #3cc4d0;
$white: #fff;
$grey: #ecf0f9;
$orange: #f48609;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#app {
    margin: 1%;
    display: grid;
    grid-gap: 25px;
    .menu {
        display: grid;
        grid-auto-flow: column;
        list-style-type: none;
        background-color: $grey;
        .item {
            color: $white;
            display: grid;
            grid-auto-flow: column;
            justify-content: space-around;
            align-items: center;
            .tittle {
                font-size: -webkit-xxx-large;
                text-transform: uppercase;
            }
            .subtittle {
                text-transform: lowercase;
                font-size: x-large;
                text-align: end;
            }
            .imgHeader {
                padding: 5px 0;
            }
        }
    }
    .active {
        background-color: $turquoise;
    }
    .main {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1.55fr 3fr;
        .options {
                height: 50px;
                width: 65%;
                border: none;
                background-color: $grey;
                padding: 0 10px;
                font-size: large;
                border-radius: 10px;
                margin: 15px; 
            }
        .optionsBtn {
                background-color: $grey;
                color: #4f4f4f;
                cursor: pointer;
                text-decoration: none;
                display: grid;
                justify-content: center;
                align-content: center;
                transition: .3s;
        }
        .optionsBtn:hover {
            background-color: $turquoise;
        }
        .aside {
            padding: 15px;
            color: grey;
            .options::-webkit-outer-spin-button,
            .options::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            .options[type='number'] {
                -webkit-appearance: textfield;
            }
        }
        .asidePage2-3 {
            background-color: $grey;
            h2 {
                font-size: 35px;
            }
            section {
                margin: 10px 0;
            }
        }
        .content {            
            font-size: large;
            display: grid;
            justify-content: center;
            align-content: space-evenly;
            section {
                text-align: center;
            }
            section:last-child {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;                
            }    
            ul {
                text-align: left;
                line-height: 30px;
                padding: 10px 0;
            }
            .page2content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }
            .saveToPDF {
                background-color: #dd3d3d;
            }
            .inputRange {
                -webkit-appearance: none;
                height: 7px;
                width: 100%;
                margin-bottom: 25px;
            }
            .blueRange {
                background-color: $turquoise;                
            }  
            .orangeRange {
                background-color: $orange;                
            }
            .blueRange::-webkit-slider-thumb {
                -webkit-appearance: none;
                background-image: url('./img/blueRange.png');
                height: 30px;
                width: 35px;
                margin-top: 40px;
            }
            .orangeRange::-webkit-slider-thumb {
                -webkit-appearance: none;
                background-image: url('./img/redRange.png');
                height: 30px;
                width: 40px;
                margin-top: 40px;
            }
            .result {
                height: 240px;
                border: 5px solid $turquoise;
                border-radius: 50%;
                width: 40%;
                display: grid;
                align-content: baseline;
                color: $turquoise;
                .digit {
                    font-size: 150px;
                }
            } 
            .sectionResult {
                display: grid;
                justify-items: center;
                grid-gap: 20px;
            }        
        }
        .CircularProgressbar-turquoise .CircularProgressbar-path {
            stroke: $turquoise;
        }

        .CircularProgressbar-turquoise .CircularProgressbar-text {
            fill: $turquoise;
        }
        .CircularProgressbar-orange .CircularProgressbar-path {
            stroke: $orange;
        }

        .CircularProgressbar-orange .CircularProgressbar-text {
            fill: $orange;
        }
    }
    .fade-enter {
        opacity: 0;
        z-index: 1;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
}


