$turquoise: #0ed1d7;
$white: #fff;
$grey: #ddd;
$blueRange: require('./img/blueRange.png');
$redRange: require('./img/redRange.png');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#app {
    margin: 1%;
    display: grid;
    grid-gap: 25px;
    .menu {
        display: grid;
        grid-auto-flow: column;
        list-style-type: none;
        background-color: #c6c6c6;
        .item {
            color: $white;
            display: grid;
            grid-auto-flow: column;
            justify-content: space-around;
            align-items: center;
            .tittle {
                font-size: -webkit-xxx-large;
                text-transform: uppercase;
            }
            .subtittle {
                text-transform: lowercase;
                font-size: x-large;
                text-align: end;
            }
            .imgHeader {
                padding: 5px 0;
            }
        }
    }
    .active {
        background-color: $turquoise;
    }
    .main {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1.55fr 3fr;
        .options {
                height: 10vh;
                width: 65%;
                border: none;
                background-color: $grey;
                padding: 0 10px;
                font-size: large;
                border-radius: 10px;
                margin: 15px; 
            }
        .optionsBtn {
                background-color: $turquoise;
                color: $white;
                cursor: pointer;
                text-decoration: none;
                display: grid;
                justify-content: center;
                align-content: center;
        }
        .aside {
            padding: 15px;
            color: grey;
            .options::-webkit-outer-spin-button,
            .options::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            .options[type='number'] {
                -webkit-appearance: textfield;
            }
        }
        .asidePage2-3 {
            background-color: $grey;
            h2 {
                font-size: 35px;
            }
            section {
                margin: 10px 0;
            }
        }
        .content {
            font-size: large;
            display: grid;
            justify-content: center;
            align-content: space-evenly;
            section {
                text-align: center;
            }
            section:last-child {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;                
            }    
            ul {
                text-align: left;
                line-height: 30px;
                padding: 10px 0;
            }
            .page2content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }
            .saveToPDF {
                background-color: #dd3d3d;
            }
            .inputRange {
                -webkit-appearance: none;
                height: 7px;
                width: 100%;
            }
            .blueRange {
                background-color: $turquoise;                
            }  
            .orangeRange {
                background-color:#f48609;                
            }
            .blueRange::-webkit-slider-thumb {
                -webkit-appearance: none;
                background-image: url('./img/blueRange.png');
                height: 30px;
                width: 35px;
                margin-top: 40px;
            }
            .orangeRange::-webkit-slider-thumb {
                -webkit-appearance: none;
                background-image: url('./img/redRange.png');
                height: 30px;
                width: 40px;
                margin-top: 40px;
            }  
            // .circle {

            // }    
        }
    }
}

